<!--BOTÃO FLUTUANTE-->
<div id="chatbot_button">
    <img src="/front/chatfront/assets/logo-chat.png" alt="Chatbot">
</div>
<!--MODAL CHAT-->
<div id="chatbot_modal" class="chat_hidden">
    <div id="chatbot_header">
        <div id="chatbot_header_left">
            <img src="/front/chatfront/assets/logo-chat.png" alt="Logo">
            <h2>Dev Mentor</h2>
        </div>
        <button id="chatbot_close">✕</button>
    </div>
    <div id="chatbot_messages">
        <div class="bot_message">
            Olá 👋<br><br>Sou a Dev Mentor.<br>Como posso ajudar você hoje?
        </div>
    </div>
    <div id="chatbot_input_area">
        <input type="text" id="chatbot_input" placeholder="Digite sua dúvida...">
        <button id="chatbot_send">Enviar</button>
    </div>
</div>
<script src="./config/api.js"></script>
<script src="./js/chatbot.js"></script>